{% extends "layout.jinja2" %}

{% block content %}
<div style="min-height: 50vh" class="container">
  <h1><span class="font-semi-bold">404</span> Страница не найдена</h1>
</div>
{% endblock content %}
